:root {
  --text-color: #555;
  --background-color: #f0f4f5;
}
/* Common */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  animation: fadein 1.7s;
  -moz-animation: fadein 1.7s; /* Firefox */ 
  -webkit-animation: fadein 1.7s; /* Safari and Chrome */
  -o-animation: fadein 1.7s; /* Opera */
  overflow-x: hidden; 
  overflow-y: auto;
}
/* 스크롤바 없애기 */
/* body::-webkit-scrollbar {
  display: none; \
}*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 반응형 */
@media (max-width: 10000px) {
  .container {
    width: 100%;
  }
  .company_content .inner h1 {
    font-size: 36px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .company_content .inner h1 {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 100%;
  }
  .company_content .inner .content {
    z-index: 2;
  }
  .company_content .inner h1 {
    font-size: 36px;
  }
  .company_content .inner img {
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    left: 350px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  /* Company */
  .company_content .inner h1 {
    font-size: 28px;
    display: block;
    padding-left: 152px;
  }
  .company_content .inner p {
    display: block;
    padding-left: 152px;
  }
  .company_content .inner img {
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    left: 50px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  /* Company */
  .company_content .inner h1 {
    font-size: 24px;
    padding-left: 72px;
  }
  .company_content .inner p {
    padding-left: 32px;
  }
  .company_content .inner img {
    z-index: 1;
    opacity: 0.5;
    margin-left: 0px !important;
    width: 400px !important;
    height: 400px !important;
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}
.inner {
  width: 1150px;
  margin: 0 auto;
  position: relative;
}


/* Header */
header {
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  background-color: #fff;
}
header .inner {
  display: flex;
  justify-content: space-between; /*수평으로 사이사이 여백 */
  align-items: center;
  padding-top: 24px;
  margin-bottom: 20px;
}
header .inner .navbar_logo img {
  width: 120px;
  height: 30px;
  opacity: 0.7;
}
header .navbar_menu {
  display: flex;
}
header .inner .navbar_menu li {
  padding: 0px 12px;
}
header .inner .navbar_menu li a {
  font-size: 16px;
}
header .inner .navbar_menu li a:hover {
  color: #7852e8;
  transition: 0.1s;
}
header .inner .navbar__toggleBtn {
  display: none;
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 24px;
}
@media screen and (max-width: 1100px) {
  header {
    width: 100%;
  }
  header .inner .navbar_menu {
    margin-right: 150px;
  }
}
@media screen and (max-width: 992px) {
  header {
    width: 100%;
  }
  header .inner .navbar_menu {
    margin-right: 280px;
  }
}
@media screen and (max-width: 800px) {
  header {
    width: 100%;
  }
  header .inner {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    padding: 8px 24px;
  }
  header .inner .navbar_logo img {
    padding-top: 8px;
  }
  header .inner .navbar_menu {
    flex-direction: column;
    align-items: center; /* center로해도 menu는 중간으로 오지않는다 */
    width: 100%; /* 그래서 가로를 100%로 해주면 중간으로 온다. */
    display: none;
  }
  header .inner .navbar__toggleBtn {
    display: block;
  }
  header .inner .navbar_menu.active {
    display: flex;
    background-color: var(--background-color);
    margin-top: 15px;
    width: 100%;
    transition: 1s;
  }
  header .inner .navbar_menu.active li {
    padding: 8px 0;
  }
}

/* Company */
.company_content {
  height: 900px;
  padding-top: 75px;
}
.company_content .inner { 
  color: black;
  line-height: 49.6px;
  display: flex;
}
.company_content .inner .content {  
  padding-top: 200px;
}
.company_content .inner h1 { 
  color: black;
  font-weight: 500;
}
.company_content .inner h1 strong { 
  font-weight: 700;
}
.company_content .inner img {
  margin-left: 80px;
  padding-top: 40px;
  width: 535px;
  height: 435px;
}


/* Project */
.project {
  height: 500px;
  background-color: #fff;
}
.project .inner {
}
@media screen and (max-width: 768px) {
}

/* Plan */
.plan {
  height: 500px;
  background-color: black;
}
.plan .inner {
}
@media screen and (max-width: 768px) {
}

/* Contact */
.contact {
  height: 500px;
  background-color: #fff;
}
.contact .inner {
}
@media screen and (max-width: 768px) {
}

/* 푸터 */
.footer {text-align: center; padding: 30px 50px; background-color: black; color: white;}
.footer li {position: relative; display: inline; padding: 0 7px 0 10px; white-space: nowrap;}
.footer li a { color: white;}
.footer li:before {content: ''; width: 1px; height: 12px; background-color: #fff; position: absolute; left: 0; top: 2px;}
.footer li:first-child:before {width: 0;}
.footer p {font-size: 12px; padding-top: 20px;}
.footer address {padding-top: 15px;}